
/*Caracteristicas generales:  fuente Font google, tamaño de fuente responsive*/
  /* BOX-SIZING para calcular directamente todas las dimensiones de las cajas */
  /* RESETEO LIMITADO DE PROPIEDADES*/
*, *::before, *::after {
  box-sizing: border-box;
  margin:0;
  padding: 0;
}

body, h1, h2, h3, h4, h5, h6, p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1vw;
}


/*Aspecto especifico*/
/* Establecemos el centrado y las dimensiones de los elementos principales con una ancho máximo y mínimo*/
header, nav, main, footer {
  max-width: 100%;
  min-width: 10%;
}
/* Estilos para la cabecera (header)*/

header {
  background-image: linear-gradient(to right, white, #FFE6A9);
  height: 40vh;
  width: 100%;
  text-align: center;
}

header img {
  height: 30vh;
  margin-top: 2%;
}

/* Estilos para el menú principal (nav)*/
nav {
  top: 0;
  position: sticky;
  width: 100%;
  height: 100%;
  background-color: blue;
  text-align: center;
  padding: 2%;
}

nav ul li {
  display: inline-block;
  font-size: 1vw;
  list-style: none;
  padding: 6px;
  margin-right: 10%;
}
nav ul li:hover {
  font-size: 1.5vw;
  background-color: darkblue;
}
  
/* Call for action para Comprar , la palabra "compra" en un link sin subrayado*/


aside {
  position: fixed;
  background-color: aqua;
  border: 2px solid black;
  border-radius: 30px;
  right: 50px;
  top: 30%;
  width: 15%;
  /* margin-right: 4%; */
  padding: 2%;
  text-align: center;
  font-size: 1vw;
}

aside a {
  font-size: 1.5vw;
  margin: 10px;
  text-decoration: none;
  background-color: seagreen;
  border: 1px solid seagreen;
  border-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 1%;
  
}

/* Elemento (section vintage) con las 3 cards */

h1 {
  text-align: center;
  margin-bottom: 1%;
}

#tresCartas {
  text-align: center;
  /* left: 10%; */
  width: 100%;
  column-count: 3;
  column-gap: 0px;
  
}

section {
  margin-top: 1%;
  width: 80%;
}

section figure img {
  height: 13vh;
}

figure {
  padding-top: 2%;
  padding-bottom: 2%;
}

#medio {
  border: 2px solid red;
  border-left-style: none;
  border-right-style: none;
}

/* Sección con la nevera y los tres párrafos descriptivos (section)*/

#imagen {
  height:55vh;
  margin-left:15%;
}

#imagen figure img {
  height: 50vh;
  float:left;

}

section p {
  width: 100%;
  margin-bottom: 1%;
  margin-right: 10%;
}
section p::first-letter{
  font-size: 3vw;
  color: red;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* Sección para la galería de imágenes (section)*/

.galeria {
  width:100%;
  text-align: center;
  height:33vh;
}

article img {
  margin: 0px;
  padding: 0px;
  height: 15vh;
}




/* Estilos para el pie de página (footer)*/

footer {
  height:10vh;
  width: 100%;
  background-color: purple;
  padding-top: 1%;
  color:yellow;
  padding-left: 3%;
  
}

#izquierda {
  display: inline-block;
}

#centro {
  display:inline-block;
  margin-left: 20%;
}

#derecha {
  margin-left: 24%;
  display: inline-block;
}

#derecha ul li{
  display: inline;
}

div ul li{
  list-style: none;
}

#derecha ul li {
  font-size: 2vw;
}